[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
wheel = "*"
psycopg2-binary = "*"
sqlalchemy = "*"
pydantic = "*"
python-dotenv = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.9"
